.blackbtn,
.yellowbtn{
    font-family: helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}

.blackbtn{
    background-color: black;
    color: white;
}

.yellowbtn{
    background-color: yellow;
}